.bg-purple {
background-color: rgb(20, 5, 29);
color: rgb(225, 202, 255);
}
.bg-purple ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: end;
    font-family: Geneva;
    font-size: x-small;
    
}
.set-height {
min-height: 100%;
}
.bg-black {
    background-color: rgb(21, 18, 24);
    color: rgb(225, 202, 255); 
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-cards {
    background: url("card-background.jpg") no-repeat center center;
    background-size: cover;
    height: 80vh;
}
p {
    font-size: small;
}
.size {
    font-size: small;
}
/* .heroimage {
    background: url("heroimage.jpg") no-repeat center center;
    background-size: contain;
    height: 90vh;
} */
.hero {
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.text {
    font-size: smaller;
}
.img {  
    height: 80%;
    font-style: italic; 
}